body {
    color: #494545;
}

header {
    color: white;
    background-color: #494545;
    margin: 0px 0px 3px 0px;
}

.header-ul {
    flex-direction: row;
    display: flex;
    list-style: none;
    font-size: 150%;
    padding: 0px 0px 5px 20px;
    margin: 0px 0px 0px 0px;
}

header li {
    padding: 0px 6px 0px 6px;
}

a {
    color: white;
}

h1 {
    display: inline-block;
    font-size: 200%;
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 20px 0px;
}

h2 {
    margin: 10px;
    display:inline-block;
    padding: 0px 40px 6px 0px;
    border-bottom: 3px solid #494545;
    font-size: 200%;
}
